@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand&display=swap');
body{
  margin:0;
background: linear-gradient(
  45deg, rgba(0,110,193,.3),
  rgba(0,115,138,.1)
  )
  no-repeat fixed center, 
  url("./Images/spiderman.jpeg")no-repeat fixed center;
  background-size:cover;

}